*, *::after, *::before {
    padding: 0px;
    margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
}
.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev-pic, .next-pic {
    z-index: 2;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    padding-bottom: 10px;
    margin: 5px;
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px 5px 5px 5px;
    color: rgba(0, 0, 0, 0.6)
}
.prev-pic {
    left: 0px;
}
.next-pic {
    right: 0px;
}
.prev-pic:hover, .next-pic:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.3);
}
.carousel-slide {

    display: none;
    object-fit: cover;
    object-position: center;
}
.carousel-slide img {
    max-width: 1000px;
    z-index: -1;
}
.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.dot-container {
    position: relative;
    top: 0;
    text-align: center;
}
.slide-dot {
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    width: 15px;
    height: 15px;
    transition: background-color 0.6s ease;
}
.active, .slide-dot:hover {
    background-color: black
}