

.menu-two-main-btn{
    border-radius: 50%;
}
#menu-two {
    width: 10vw;
}
.menu-two-btn {
    cursor: pointer;
}
.menu-two-img {
    border-radius: 50%;
    height: 0px;
    background-color: red;
    transition: height 0.4s linear;
}
#menu-2-dropdown {
    height: 0px;
}
.menu-two-btn:hover #menu-2-dropdown{
    height: auto;
}
.menu-two-btn:hover .menu-two-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.menu-two-img:hover {
    padding: 5px;
    background-color: purple;
    transition: all 0.4s ease-in-out;
}