

#menu-2-dropdown {
    width: 10vw;
}
.menu-two-item{
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}
.menu-two-img {
    width: 50px;
    height: 50px;
}
ul{
    padding-left: 5px;
}
li {
    list-style: none;
    padding: 0px;
}